/*Global*/
:root {
  /* Color */
  --color-navy: #07242e;
  --color-lightNavy: #6799b4;
  --color-darkNavy: #092434;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}
 --animation-durtaion: 300ms;

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}


a {
  /* 텍스트에 밑줄 그어진 거 없애는 거 */
  text-decoration: none;
  color: white;
}

ul {
  /* bullet point없애주는 것 */
  list-style: none;
  padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
}

/* Typography */
/* heding, text에 관한것임 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: black;
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: black;
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 16px;
  height: 70px;
  transition: all var(--animation-durtaion) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
    background-color: var(--color-darkNavy) ;
    padding: 8px;
    
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo i {
    padding-right: 10px;
    color: var(--color-lightNavy);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: white;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: var(--color-lightNavy);
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
    /* 평소에는 보여지면 안되니까 display:none */
    display: none;
}   

/* Home */
#home {
    background: url("img/home/galaxy.jpg") center/ cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;  
}


#home: scroll {
    opacity: 0.7;
}

#home.home--dark {
    background-color:;
    padding: 8px;
    
}


.home__avatar {
  width: 220px;
  height: 280px;
  border-radius: 50%;
  border: 2px solid white;
}

.home__title,
.home__description {
  color: white;
}

.home__contact {
    color: white;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin 24px 0;
  border: 2px solid;
  border-radius: 4px;
}

/* Section common */
.section {
    padding: 50px;
    margin: auto;
    text-align: center;
    
}

.section__container {
    max-width: 1200px;
    margin: auto;
}


/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    color: var(--color-lightNavy);
    border: 1px solid var(--color-lightNavy);
    border-radius: 50%;
    margin-bottom: 16px;
    
}

.major__icon i {
    transition: all 500ms ease;
}

.major__icon i:hover {
    color:var(--color-navy);
    transform: rotate(-30deg) scale(1.1);

}
.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
}

.job__logo {
    width: 120px;
    height: 100px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.job__name {
    margin: 0;
}

.job__description {
    text-align: left;
}

.job__period {
    font-size: medium;
    color: darkgray;
}

#skills {
    background-color: lightyellow;
}

.skillset {
    display: flex;
    margin: 20px 0;
}

.skillset__left {
    flex-basis: 60%;
    background-color: darkgray;
    color:  white;
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
    
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: lightgrey;
}

.skill__value {
    width: 50px;
    height: 3px;
    background-color: brown;
}

.skillset__right {
    flex-basis: 40%;
    list-style: none;
    color: white;
}

.skillset__title {
    margin: 0;
    color: white;
    font-weight: var(--weight-semi-bold);
}

.tools {
    background-color: gray;
}

.etc {
    
    background-color: lightslategray;
    margin: 0;
}

.tools,
.etc {
    padding: 20px
}

/* Work */

.work__categories {
    margin: 40px;
}
.catetory__btn {
    border: 1px solid lightgrey;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    margin: 2px 2px;
}

.catetory__btn.active,
.catetory__btn.tools {
    background-color: rgb(248, 169, 157);
}
/* category btn이 active인 상태의 category count와 
category btn이 마우스가 올라왔을 때, 안에있는 category count
일 때만 opacity를 1로 하고 ...  */
.catetory__btn.active .category__count,
.catetory__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: orange;
    border-radius: 50%;
    color: whitesmoke; 
    width: 24px; 
    height: 24px; 
    line-height: 24px;
    display: inline-block; 
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all 200ms ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: rgb(241, 238, 238);
    padding: 20px 0;
    
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
}


.project:hover .project__description {
    opacity: 0.7;
    transform: translateY(0);

}

.project__description h3 {
    color: white;
}

/* after이라는 거 처음 봄 */
.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: white;
}

/* Testimonials */
#testimonials {
    background-color: rgb(241, 238, 238);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;

    
}

.testimonial__avater {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__avater:nth-child(odd) {
    margin-right: 40px;
}

.testimonial__avater:nth-child(even) {
    margin-left: 40px;;
}

.testimonial__speaach-bubble {
    padding: 18px;
    background-color: white;
    border-radius: var(--size-border-radius);
    
}

.testimonial__speaach-bubble a {
    color: rgb(207, 158, 167);
}

/* Contact */
#contact {
    background-color: rgb(197, 216, 241);
}

.contact__title {
    margin: 32px;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}



.contact__links i:hover {
    transform: scale(1.1);
    color: rgba(112, 21, 105, 0.897);
    transition: all 300ms ease-in;
}

.contact__links i2:hover {
    transform: scale(1.1);
    color: #2867B2;
    transition: all 300ms ease-in;
}

/* Arrow up */
.arrowUp {
    font-size: 40px;
    position: fixed;        /*부모에게서 나오게 된다. */
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: rgb(102, 174, 177);
    color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none; /*마우스클릭이 안되게 지정한다*/
}

.arrowUp.visible {
    opacity: 1;
    pointer-events: auto;
    
}



/* For below 768 screen width 여기에는 최소한의
것만 들어야한다. 차이점들만 들어가야한다. 
e.g. toggle-btn은 html에 이미 들어가 있다. 
그래서 media query사이즈가 아니면 toggle 버튼을 
숨겨주는 식으로 해야한다. */
@media screen and (max-width: 760px) {
.navbar__toggle-btn {
    /* 화면이 760px보다 작을 때는 block으로
    해서 보여주고~ */
    display: block;
    top: 20px;
}

#navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    /* toggle버튼을 눌러야 보여져야하므로 display
    는 none으로 한다. */
    
}

.about__majors {
    flex-direction: column;
}

.major {
    margin-bottom: 38px;
}

.skillset {
    flex-direction: column;
}

.project {
    flex-grow: 1;
}

}
